{% extends 'clienttemplates/base.html' %}
{% load static %}
{% block mainblock %}
<style>
    .errorlist{
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Customer Registration Form</h3><hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Login as a Customer</button>
                {% if error %}
                <li style="color: red;">{{error}}</li>

                {% endif %}
                <p>or dont have account?<a href="{% url 'frontendapp:customer_registrations' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Register here</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}